
<head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<div class="separator">



    <main role="main">

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
  
      
      <div class="row" id="abouttext">

        <div class="col-lg-4">
          <img class="rounded-circle" src="/other/number1tr.png" alt="Step1" width="100" height="100" border="2px solid">
          <h2> Create pet’s profile</h2>
          <p> Create your pet’s profile: provide the information about your pet.
          </p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="rounded-circle" src="/other/number2tr.png" alt="Step2" width="100" height="100">
          <h2>Check all mates</h2>
          <p> Check all possible mates for him/her and select your favourite.
          </p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="/other/number3tr.png" alt="Step3" width="100" height="100">
          <h2>Set a date</h2>
          <p>Contact the pets owner to set the date.  Leave the rest up to him/her!</p>
     
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  </div>


       
        
      <div class="container marketing">
        <!-- START THE FEATURETTES -->


      
     <hr class="featurette-divider">
    

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">ABOUT US </h2>
            <p class="lead">
            We welcome you to the freshest concept for pet mating!
            You may stop asking your neighbours or friends if they own, 
            or have seen a cat/dog like yours that wants to mate. Now you can stop running 
            like a maniac to strangers when you see that they are accompanied by a companion 
            animal that’s the same dog breed as yours, and of course you can stop buying 7
            teddy bears, pillows etc. to temporarily satisfy your dog’s natural need for breeding until you find a real mate for your cat, dog or other beloved pet. 
            
            </p>
          </div>
          <div class="col-md-5">
        
          </div>
        </div>
        
      
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
          <h2 class="featurette-heading">  Our job is to make your pet happy. </h2>
            <p class="lead">

            Tinder for pets provides you with an easy, fun, and serious way to find, not just a mate, but the perfect mate for 
            your loving companion animal. Our main goal is to make you proud by making your dog a dad or a mum and, why not, to add 
            an offspring to your extended family. Create your pet’s profile, and Tinder for pets will offer you a wide choice of available
             mates that look and weigh similar to your dog. Select your favorite or favorites and contact them to set a date. Your dog and its mate will do the rest!
              We hope that you and your beloved pet will enjoy the Tinder for pets.
            </p>
          </div>
          <div class="col-md-5">
       
          </div>
        </div>

        <hr class="featurette-divider">

        <hr class="featurette-divider">

      

        <!-- /END THE FEATURETTES -->

  


   
    </main>
    
    </div>