
  
<div class="separator">  

<h1>Your <img src="/other/logopinktr.png" width="85" height="75" alt="">  Favorite pets </h1>

<br>

<div class="container"> 

<% current_user.favoritepet.each do |favoritepet| %>


    
        <%= link_to favoritepet.petprofile.image.attached? ? image_tag(favoritepet.petprofile.image, 
          style:"width:160px; height:180px; border:4px solid #383d41; margin-top:8px " )
         : image_tag("/defimage3.png",
           style:"width:160px; height:180px; border:4px solid #383d41; margin-top:8px" ), favoritepet.petprofile %>

   <strong> Added on:</strong> <i>
           <%= favoritepet.created_at.strftime("%A, %B  %u, %Y") %>     
             </i>

           <br>
   
   


  <% end %>


  </div>
  </div>