

<div class="separator">

<br>

<h2> Before you breed... </h2>
<br>

  <main role="main">

  <div class="container">
 

  <div class="row">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
   
      <a class="list-group-item list-group-item-action  list-group-item-secondary active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"> 
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> TIME
      </a>
      <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> FACILITIES
      </a>
      <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> KNOWLEDGE
      </a>
      <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> RESPONSIBILITY
      </a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
   
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <p>
    
       <p class="lead1">
       
       
       Will you have enought time? Your pet will need to be closely monitored during the days leading up to labour. Also, the newborns will need to be cared for until they have been successfully rehomed.
      Later on, when the babies are a bit older you will need to feed, walk and take care of them all, including trips to the vet for inoculations and worming.
       Remember there could be 6-12 newbors and they are going to be with you for at least seven weeks.
         </p>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
       <p> 
      <p class="lead1">
      Do you have enough room? Newborn kittens and puppies are a messy business. You will need a whelping box and run large enough to comfortably home your pet and the newbors babies. 
      Bedding will need to be changed and washed several times a day. Hard floors that can be mopped easily are essential as the newborns will not be house trained. 
      Having a safe and secure garden or outside area is essential to let the little ones run and play.
      </p>
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
      <p>
      <p class="lead1">
      Do you have the knowledge? Research about breeding is essential. Make sure you know all there is to know, such as immediate care of the newborns, whelping 
      complications and health problems that can occur. Lack of knowledge could endanger not only the newborns but your pet too.
      The new owners of the babies will look to you for information regarding the breed and upbringing recommendations for their new family member. 
      
</p>
      
      </div>

      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
      <p>
      <p class="lead1">
      Why do you want to breed? If your answer to this question is "because puppies/kittens are cute" or "I could make some money", then you need to seriously reconsider. 
        Puppies may be cute, but fully grown dogs and cats can become hard to manage. As for making money, breeding is an expensive business. Costs you can expect include vet bills, food, 
        equipment and advertising. These can be expensive if everything goes according to plan, but complications can occur.
      </p>
      </div>
    </div>
  </div>
</div>


     
      
    
      <!-- START THE FEATURETTES -->


    
   <hr class="featurette-divider">
  

      <div class="row featurette">
        <div class="col-md-7">
 <p>
          <h1>Information about pets</h1>
         <p>



        <a class="btn btn-outline-dark" href="/other/information.pdf" download role="button">Download the Information booklet in PDF
         
            </a>
    


       

<div class="accordion" id="accordionExample">

  

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>    Vaccinations </strong>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
      It is recommended that you do not introduce your new pets to the outside world until a week after their twelve-week injection. However, as up until this time is it best to socialise your pets.
      Your pet should be wormed at two weeks old and then at two-week intervals. You will need to continue this worming course until your pet is twelve weeks old. You need to continue giving them 
     the remaining course of tablets. Make sure you are clear on when to administer the doses.

      
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          
        <strong>    Microchipping </strong>

        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">

  While visiting your vet for the final jabs, ask him/her to micro-chip your pet. Micro-chipping is a very simple procedure whereby the vet inserts a tiny microchip into the back of your pets neck via a syringe.
         Information such as the name of the pet and the owners name and contact details are stored on the chip, and will aid the safe return of your pet should he be lost or stolen.


      </div>
    </div>


    <div class="card">
    <div class="card-header" id="heading4">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          
        <strong>    Feeding </strong>

        </button>
      </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">
      The new-borns should be getting four small, but adequate, meals a day up to the age of twelve weeks. Thereafter the number of meals can be reduced, and the quantity increased gradually, to three meals a day from
       3-6 months, then two meals a day from 6-9 months and eventually one meal a day at 9 months plus. The pet should be consuming four solid meals a day at regular intervals. It is important to continue with the same pattern. 
       If you want to feed your pet with different food at different times he must be weaned gradually. A sudden change of diet will cause problems with digestion and an upset stomach.
      </div>
    </div>


    <div class="card">
    <div class="card-header" id="heading5">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          
        <strong>  Exercising  </strong>

        </button>
      </h2>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body">
      Gentle and supervised exercise is recommended for most breeds until they are twelve months old. This allows for their bones to form properly. It is especially important in larger breeds and breeds with bone problems.
       Once your pet has reached twelve months, you can start to increase his daily exercise gradually to that which is recommended for his breed. The new-born puppy or kitten will spend a lot of time sleeping. During its 
       waking periods, it will be so active that it will need to sleep again very quickly!
      </div>
    </div>



    <div class="card">
    <div class="card-header" id="heading6">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          
        <strong>  Toilet training  </strong>

        </button>
      </h2>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
      <div class="card-body">
      Use common sense when toilet training, if you encourage your pet to go to the toilet on newspaper, it will always associate newspaper with going to the toilet! Try to follow their routine but if the current routine is
       not practical for you, change it gradually. If you make a sudden change in the toilet routine, it will be like starting from scratch. Never chastise or punish your pet for going to the toilet in the wrong place. Instead,
       when your pet goes to the toilet in the right place, give it loads of praise and attention.
      </div>
    </div>


    
    <div class="card">
    <div class="card-header" id="heading7">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          
        <strong>  Health   </strong>

        </button>
      </h2>
    </div>
    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
      <div class="card-body">
      It is essential, if you care about your pet, to get it checked over by the vet. It needs to be in good health and any genetic illnesses specific to its breed need to be ruled out. You must make sure that the vaccinations 
      are up-to-date and that it has been wormed.
      </div>
    </div>



    
    <div class="card">
    <div class="card-header" id="heading8">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
          
        <strong>   Perfect Partner </strong>

        </button>
      </h2>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
      <div class="card-body">
      Once you have found a partner for your pet, make sure he has a good temperament. Try and spend some time with it to get a good idea of temperament. Also, make sure a vet has checked it over to rule out any genetic 
      illnesses specific to the breed. The vaccinations need to be up-to-date and it must be wormed. Be sure that the pet is a good specimen of his breed.
      </div>
    </div>


    
    <div class="card">
    <div class="card-header" id="heading9">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
          
        <strong>    Pedigrees </strong>

        </button>
      </h2>
    </div>
    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
      <div class="card-body">
      Check the pedigree of the pet before conception. Make sure it is authentic. Breeding with a crossbreed will only produce more crossbreeds and they will not only be difficult to rehome, but the genetic history of the pet will be unknown.
       Check that the pets are not related. Also, check the pedigree of the pet to make sure there are no breeding endorsements.
      </div>
    </div>


 



  </div>
</div>
          
      






 
  </main>

 


  
  </div>

  