

<div class="separator">

<br>

<h2> Before you breed... </h2>
<br>

  <main role="main">

  <div class="container">
 

  <div class="row">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
   
      <a class="list-group-item list-group-item-action  list-group-item-secondary active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"> 
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> TIME
      </a>
      <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> FACILITIES
      </a>
      <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> KNOWLEDGE
      </a>
      <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
      <img src="/other/checkbox6.png" width="28" height="28" alt=""> RESPONSIBILITY
      </a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
   
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <p>
    
       <p class="lead1">
       
       
       Will you have enought time? Your pet will need to be closely monitored during the days leading up to labour. Also, the newborns will need to be cared for until they have been successfully rehomed.
      Later on, when the babies are a bit older you will need to feed, walk and take care of them all, including trips to the vet for inoculations and worming.
       Remember there could be 6-12 newbors and they are going to be with you for at least seven weeks.
         </p>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
       <p> 
      <p class="lead1">
      Do you have enough room? Newborn kittens and puppies are a messy business. You will need a whelping box and run large enough to comfortably home your pet and the newbors babies. 
      Bedding will need to be changed and washed several times a day. Hard floors that can be mopped easily are essential as the newborns will not be house trained. 
      Having a safe and secure garden or outside area is essential to let the little ones run and play.
      </p>
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
      <p>
      <p class="lead1">
      Do you have the knowledge? Research about breeding is essential. Make sure you know all there is to know, such as immediate care of the newborns, whelping 
      complications and health problems that can occur. Lack of knowledge could endanger not only the newborns but your pet too.
      The new owners of the babies will look to you for information regarding the breed and upbringing recommendations for their new family member. 
      
</p>
      
      </div>

      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
      <p>
      <p class="lead1">
      Why do you want to breed? If your answer to this question is "because puppies/kittens are cute" or "I could make some money", then you need to seriously reconsider. 
        Puppies may be cute, but fully grown dogs and cats can become hard to manage. As for making money, breeding is an expensive business. Costs you can expect include vet bills, food, 
        equipment and advertising. These can be expensive if everything goes according to plan, but complications can occur.
      </p>
      </div>
    </div>
  </div>
</div>


     
      
    
      <!-- START THE FEATURETTES -->


    
   <hr class="featurette-divider">
  

      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Information about pets</h3>
         




hello


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
          
        

     


     
        </div>
      </div>

  




 
  </main>
  
  </div>

  