
<div class="separator">
<div class="container1">
<div class="container3">



 <h4>Edit <img src="/other/logintr.png" width="85" height="75" alt=""> Pet Profile </h4>
<br>



<%= render 'form', petprofile: @petprofile %>




</div>
</div>
</div>