


<div class="container"> 

</div>
  
<div class="separator">  

<h2> Pet profiles </h2>

<br>

<div class="container"> 
        
 <div class="profile">  
  

    <% @petprofiles.each do |petprofile| %>
    
      <%= link_to petprofile.image.attached? ? image_tag(petprofile.image, 
        style:"width:320px; height:380px; border:4px solid #383d41; margin-top:8px " )
       : image_tag("/defimage3.png",
         style:"width:320px; height:380px; border:4px solid #383d41; margin-top:8px" ), petprofile %></td>
 
    <% end %>

</div>


 </div> 

 <br>



