



  
<div class="separator">  

<h1>Pets <img src="/other/logintr.png" width="85" height="75" alt="">  profiles </h1>

<br>

<div class="container"> 
        

  

    <% @petprofiles.each do |petprofile| %>
    
      <%= link_to petprofile.image.attached? ? image_tag(petprofile.image, 
        style:"width:320px; height:380px; border:4px solid #383d41; margin-top:8px " )
       : image_tag("/defimage3.png",
         style:"width:320px; height:380px; border:4px solid #383d41; margin-top:8px" ), petprofile %></td>
 
    <% end %>

</div>


 </div> 

 <br>



