



  
<div class="separator">  

<h1>Pets <img src="/other/logintr.png" width="85" height="75" alt="">  profiles </h1>

<br>


<div class="container"> 
        
<div class="searchbar">

<form class="form-inline my-2 my-lg-0" action="/search">
<input class="form-control ml-sm-2" name="q" type="search" placeholder="Search" aria-label="Search"> &nbsp;
<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
</form>
<p>
  <br>

  <br>

    <% @petprofiles.each do |petprofile| %>
    
      <%= link_to petprofile.image.attached? ? image_tag(petprofile.image, 
        style:"width:320px; height:380px; border:4px solid #383d41; margin-top:8px " )
       : image_tag("/defimage3.png",
         style:"width:320px; height:380px; border:4px solid #383d41; margin-top:8px" ), petprofile %></td>
 
    <% end %>

</div>


 </div> 

 <br>



