<p id="notice"><%= notice %></p>


<%= link_to 'New Petprofile', new_petprofile_path %>




        
<div class="separator">  


<h1> Pet profiles </h1>


<div class="container"> 
        
 <div class="profile">  
  

    <% @petprofiles.each do |petprofile| %>
    
      <%= link_to petprofile.image.attached? ? image_tag(petprofile.image, 
        style:"width:320px; height:380px; border:2px solid gray; margin-top:8px " )
       : image_tag("/defimage.jpg",
         style:"width:320px; height:380px; border:2px solid gray; margin-top:8px" ), petprofile %></td>
 
    <% end %>

</div>


 </div> 



