 @import "bootstrap";




.container1 {
   
    text-align: center;
    margin: auto;
    padding-top: 30px;
  

    
}


.container {
    text-align: center;
    margin: auto;

    
}



.container2 {
 
  padding-top: 30px;

    
}

body {
   
    width: 100vw;
    height: 100vh;
    background-image: url("/blur/copycat3blur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    

}



.navbar a:hover {
    color: grey !important;
}





h1 {
    color: #50555b;
    text-align: center;
}

h2 {
    color: #466060;
    text-align: center;
}


h3 {
  color:   #383d41;
}



    .separator {
        padding-top: 100px;
     
      
      }
    
      
    
      .navbar {
        position: fixed;
       
       
      }
    
      .btn-outline-danger {
          background-color: #DB6B6B !important;
          text-decoration: none !important;
          color: beige !important;
          border-color:  #DB6B6B !important;
      }

    
   .lead {
       text-align: justify;
   }

   .lead1 {
    text-align: justify;
    font-size: medium;
}

   
      .card {
          background-color: transparent !important;
      }

      .btn-link {
          color: #50555b !important;
      }

      .list-group {
        background-color: transparent !important;
        text-align: justify;


      }

      .list-group-item-secondary {
       
          
          font-weight: bold;
          text-align: justify;
        
          
      }

  