 @import "bootstrap";




.container1 {
    border: 5px solid green;
    text-align: center;
    margin: auto;
    padding-top: 30px;
  

    
}


.container {
    text-align: center;
    margin: auto;

    
}



.container2 {
 
  padding-top: 30px;

    
}

body {
   
    width: 100vw;
    height: 100vh;
    background-image: url("/blur/copycat3blur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    

}



.navbar a:hover {
    color: grey !important;
}





h1 {
    color: #50555b;
    text-align: center;
}



    .separator {
        padding-top: 100px;
        border: 5px solid yellow;
      
      }
    
      
    
      .navbar {
        position: fixed;
       
       
      }
    
    
   

     
      