 @import "bootstrap";





.container {
   
   
}

.navbar a:hover {
    color: grey !important;
}

.profile {
 position: relative;
    min-height: 100vh;
    border: 5px solid red;
    margin: auto;
    width: 80%;
    padding-left: 5% ;    
    min-height:100%;

    
}



h1 {
    color: yellow;
    text-align: center;
}


footer {
  
        text-align: center;
    
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        border: 5px solid red;
    }
