
 @import "bootstrap";

 .navbar {
   position: fixed;
  
  
 }
 
 body {
   
    width: 100vw;
    height: 100vh;
    background-image: url("/blur/copycat2blur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    

}

.separator {
  padding-top: 100px;


}

#abouttext { 
  padding-top: 30px;
  border-radius: 20px;
  opacity: 90%;
}

.featurette {

}