
 @import "bootstrap";

 .navbar {
   position: fixed;
  
  
 }
 




.separator {
  padding-top: 100px;

}
.container {

}

#abouttext { 
  padding-top: 30px;
  border-radius: 20px;

}

.featurette {


}


