// Place all the styles related to the petprofiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";

.separator {
    padding-top: 100px;
  
  }

  



  .navbar {
    position: fixed;
   
   
  }


 
